.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
  }
  
  .row {
    display: flex;
    /* align-items: center; */
    
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    
  }
  
  .box {
    position:   relative;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    align-content: flex-end;
    align-items: flex-end;
    
  }
  p {
text-align: center;
  }
  h1 {
    font-size: 44px;
  }
  /* .site {
    border: 1px solid red;
  }
     */
  